# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\source\online\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
